{% extends 'base.html' %}

{% block title %}Mark Attendance{% endblock %}

{% block content %}
<h2>Mark Attendance</h2>
<form method="POST">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student</th>
                <th>Status</th>
                <th>Registration Number</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>
                    <select name="status_{{ student.id }}" class="form-select">
                        <option value="Present">Present</option>
                        <option value="Absent">Absent</option>
                    </select>
                  
                        <td>{{ student.registration_number}}</td>
                    
                </td>
            </tr>
           
            {% endfor %}
        </tbody>
    </table>
   
    <button type="submit" class="btn btn-primary">Submit Attendance</button>
</form>
{% endblock %}
